<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
</head>
<body>

    <main class="messenger-container">
        <section class="chats-sidebar">
            <header>
                <h1>Messages</h1>
            </header>

            <div class="chats-list">
                <a href="/chat/1" class="chat-item">
                    <div class="chat-details">
                        <span class="name">Mao Zedong</span>
                    </div>
                </a>

                <a href="/chat/2" class="chat-item">
                    <div class="chat-details">
                        <span class="name">Joseph Stalin</span>
                    </div>
                </a>

                <a href="/chat/3" class="chat-item">
                    <div class="chat-details">
                        <span class="name">Adolf Hitler</span>
                    </div>
                </a>

                <a href="/chat/4" class="chat-item">
                    <div class="chat-details">
                        <span class="name">The Squirrel Jew</span>
                    </div>
                </a>

            </div>
        </section>
    </main>

</body>
</html>