<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signing in</title>
</head>
<body>

    <!-- YOU CAN CHANGE IDs, CLASSES AND OTHERS SINCE THOSE AREN'T USED IN BACKEND, BUT PLS, FOR GOD SAKE,
    DON'T TOUCH "action", "name" AND "method" OR ILL SEE THE BLAME IN GH AND FUCK YOUR ASS UP
    (dont do coments as long as this one btw, unless needed)|| TO BE DELETED AFTER READ-->

    <section class="signin_card">
        <h2>Signing in</h2> 
        <form id="signin-form" action="/signin" method="POST">
            <div class="input-group">
                <label for="email_placeholder">Email</label>
                <input type="email" id="email_placeholder" name="email_placeholder" placeholder="Enter your email" required>
            </div>

            <div class="password-wrapper">
                <label for="password_placeholder">Password</label>
                <input type="password" id="password_placeholder" name="password_placeholder" placeholder="Enter your password" required>
            </div>

            <button type="submit" class="submit-btn">Sign in</button>
        </form>
        <p class="signup-text">
            Don’t have an account? <a href="/signup">Sign up here.</a>
        </p>
    </section>
</body>
</html>