<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Duplo</title>
</head>
<body>

    <section class="welcome-container">
        <h1>Welcome to Messenger</h1> 
        
        <p class="description">
            Lorem ipsum dolor sit amet consectetur.
        </p>

        <div class="actions">
            <a href="/signup" class="btn-get-started">Get started</a>
        </div>

        <p class="footer-text">
            <a href="/signin">I already have an account.</a>
        </p>    
    </section>

</body>
</html>